extends layouts/default.pug

block head
  - const namePage = 'index';
  - const pageTitle = 'Main Page';

block content
  .chart-container
    .chart__action-bar
      button.chart__btn-day(
        type='button',
        data-type='action',
        data-action='day'
      ) 24h
      button.chart__btn-week(
        type='button',
        data-type='action',
        data-action='week'
      ) week
      button.chart__btn-month(
        type='button',
        data-type='action',
        data-action='month'
      ) month
    .chart__wrapper
      canvas#chart-price
    .chart__empty-text
      span No Data
    .chart__loader
      +icon('loader')
